<!doctype html>
<html>
    <head>
        <title>Deezer Search</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <h1><%= test %></h1>
        <% include partials/scripts.ejs %>
    </body>
</html>